@inject IHttpClientFactory ClientFactory

<EditForm Model="@category" OnValidSubmit=@OnValidSubmit>
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset disabled="@Disabled">
        <div class="form-group">
            <label>Name:</label>
            <div>
                <InputText @bind-Value="@category.Name" class="form-control" />
                <ValidationMessage For="@(() => category.Name)" />
            </div>
        </div>

        <div class="form-group">
            <label>Image URI:</label>
            <div>
                <InputText @bind-Value="@category.ImgUri" class="form-control" />
                <ValidationMessage For="@(() => category.ImgUri)" />
            </div>
        </div>
    </fieldset>
    <br />
    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>
    }
    <BackToList Target="categories" />
</EditForm>

@code {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public Category? category { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    private HttpClient _client;

    protected override void OnInitialized()
    {
        _client = ClientFactory.CreateClient("private");
    }
}
