@using Microsoft.AspNetCore.Identity
@using HousewareReviews.Server.Models
@using HousewareReviews.Server.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext DbContext
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var returnUrl = "/";
    if (Context.Request.Query.TryGetValue("returnUrl", out var existingUrl)) {
        returnUrl = existingUrl;
    }
}

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    <div class="collapse navbar-collapse" id="navbarNav">
        <nav class="navbar-nav justify-content-center flex-grow-1">
			<div class="d-xl-none dropdown">
				<div class="nav-item px-1">
					<button type="button" class="btn-profile btn dropdown-toggle shadow-none nav-link" data-bs-toggle="dropdown" aria-expanded="false">
						<span class="oi"><span class="profile oi-person" aria-hidden="true"></span></span>
                            @if (user != null)
                            {
                                if (User.IsInRole("Staff"))
                                {
                                    var staff = DbContext.Staffs.FirstOrDefault(u => u.UserId == user.Id);
                                    if (staff != null)
                                    {
                                        @($"{staff?.FirstName} {staff?.LastName}")
                                    }
                                }
                                else if (User.IsInRole("Consumer"))
                                {
                                    var consumer = DbContext.Consumers.FirstOrDefault(u => u.UserId == user.Id);
                                    if (consumer != null)
                                    {
                                        @($"{consumer?.FirstName} {consumer?.LastName}")
                                    }
                                }
                            }
					</button>
					<div class="dropdown-menu nav-item" style="margin: 0px 8px 8px 8px;">
						<a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
							<span class="oi oi-cog" aria-hidden="true"></span> Manage Profile
						</a>
                        <form id="logout-small" style="cursor: pointer;" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" method="post">
                            <a class="nav-link" onclick="document.getElementById('logout-small').submit()">
                                <span class="oi oi-account-logout" aria-hidden="true"></span> Log Out
                            </a>
						</form>
					</div>
				</div>
			</div>
        </nav>
        <div class="d-none d-xl-flex btn-group justify-content-end" style="min-width:275px;">
            <div class="nav-item px-1">
                <button type="button" class="btn-profile btn dropdown-toggle shadow-none nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                    @if (user != null)
                    {
                        if (User.IsInRole("Staff"))
                        {
                            var staff = DbContext.Staffs.FirstOrDefault(u => u.UserId == user.Id);
                            if (staff != null)
                            {
                                @($"{staff?.FirstName} {staff?.LastName}")
                            }
                        }
                        else if (User.IsInRole("Consumer"))
                        {
                            var consumer = DbContext.Consumers.FirstOrDefault(u => u.UserId == user.Id);
                            if (consumer != null)
                            {
                                @($"{consumer?.FirstName} {consumer?.LastName}")
                            }
                        }
                    }
                    <span class="oi"><span class="profile oi-person" aria-hidden="true"></span></span>
                </button>
                <div class="dropdown-menu dropdown-menu-end nav-item" style="margin: 8px 0px 0px 0px;">
                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                        <span class="oi oi-cog" aria-hidden="true"></span> Manage Profile
                    </a>
                    <form id="logout-big" style="cursor: pointer;" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" method="post">
                        <a class="nav-link" onclick="document.getElementById('logout-big').submit()">
                            <span class="oi oi-account-logout" aria-hidden="true"></span> Log Out
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="collapse navbar-collapse" id="navbarNav">
        <nav class="navbar-nav justify-content-center flex-grow-1">
            <div class="d-xl-none nav-item px-1">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@returnUrl">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Log In
                </a>
            </div>

            <div class="d-xl-none nav-item px-1">
                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@returnUrl">
                    <span class="oi oi-plus" aria-hidden="true"></span> Register
                </a>
            </div>
        </nav>
        <div class="d-none d-xl-flex justify-content-end align-items-center gap-3" style="min-width:275px;">
            <div class="btn-login btn rounded-5 shadow-none border-0" style="background-color: var(--lightblue)">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@returnUrl">
                    Log In
                </a>
            </div>
            <div class="btn-register btn rounded-5 shadow-none border-0" style="background-color: var(--blue)">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@returnUrl">
                    Register
                </a>
            </div>
        </div>
    </div>
}
