@inject IHttpClientFactory ClientFactory
@attribute [Authorize(Roles = "Staff")]

<EditForm Model="@commentreport" OnValidSubmit="@(() => OnValidSubmitCallback(commentreport))" style="font-size:1rem;">
    <DataAnnotationsValidator />
    <ValidationSummary class="text-start mb-0 pt-3" />
    <div class="modal-body text-start">
        <fieldset disabled="@Disabled">
            <div class="form-group pb-3">
                <label>Category:</label>
                <div>
                    <input type="text" value="@commentreport.Category" class="form-control shadow-none" disabled />
                </div>
            </div>

            <div class="form-group pb-3">
                <label>Description:</label>
                <div>
                    <input type="text" value="@commentreport.Description" class="form-control shadow-none" disabled />
                </div>
            </div>

            <div class="form-group pb-3">
                <label>Outcome:</label>
                <div>
                    <InputSelect @bind-Value="@commentreport.Outcome" class="form-control shadow-none">
                        <option value="Pending">Pending</option>
                        <option value="Dismissed Report">Dismissed Report</option>
                        <option value="Deleted Comment">Deleted Comment</option>
                    </InputSelect>
                    <ValidationMessage For="@(() => commentreport.Outcome)" />
                </div>
            </div>

            <div class="form-group">
                <label>Handled by:</label>
                <InputSelect @bind-Value="@commentreport.StaffId" class="form-control shadow-none">
                    <option value="">-- Select Staff --</option>
                    @if (Staffs != null)
                    {
                        foreach (var staff in Staffs)
                        {
                            <option value="@staff.Id">@staff.FirstName @staff.LastName</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => commentreport.StaffId)" />
            </div>
        </fieldset>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary shadow-none" data-bs-dismiss="modal" @onclick="OnInitAsync">Close</button>
        @if (!Disabled)
        {
            <button type="submit" class="btn btn-success shadow-none">
                @ButtonText
            </button>
        }
    </div>
</EditForm>

@code {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public Commentreport? commentreport { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback<Commentreport> OnValidSubmit { get; set; }
    [Parameter] public Func<Task> OnInitAsync { get; set; }
    [Parameter] public int CommentId { get; set; }

    private HttpClient _client;
    private IList<Staff> Staffs;

    protected override void OnInitialized()
    {
        _client = ClientFactory.CreateClient("private");
    }

    protected async override Task OnInitializedAsync()
    {
        Staffs = await _client.GetFromJsonAsync<List<Staff>>($"{Endpoints.StaffsEndpoint}");
    }

    private async Task OnValidSubmitCallback(Commentreport cr)
    {
        if (OnValidSubmit.HasDelegate)
        {
            cr.Comment = null;
            cr.Consumer = null;
            cr.Staff = null;
            await OnValidSubmit.InvokeAsync(cr);
        }
    }
}