@inject IHttpClientFactory ClientFactory
@inject IJSRuntime js
@implements IAsyncDisposable
@attribute [Authorize(Roles = "Staff")]

<button type="button" class="btn @(Disabled? "btn-secondary" : btnColor) btn-sm shadow-none" data-bs-toggle="modal" data-bs-target="#@Id" disabled="@Disabled">
	<span class="oi @btnIcon"></span>
	@(Action == "Create" ? "Create Product" : "")
</button>
<div class="modal fade" id="@Id" data-bs-backdrop="@(Action == "View" ? "true" : "static")" data-bs-keyboard="@(Action == "View" ? "true" : "false")" tabindex="-1" aria-labelledby="label-@Id" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="label-@Id">@Action @ItemName</h1>
				<button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close" @onclick="OnInitAsync"></button>
			</div>
			<EditForm Model="@Product" OnValidSubmit="@(() => OnValidSubmitCallback(Product))" style="font-size:1rem;">
				<DataAnnotationsValidator />
				<ValidationSummary class="text-start mb-0 pt-3" />
				<div class="modal-body text-start">
					<fieldset disabled="@(Action == "View" ? true : false)">
						<div class="form-group pb-3">
							<label>Name:</label>
							<div>
								<InputText @bind-Value="@Product.Name" class="form-control shadow-none" />
								<ValidationMessage For="@(() => Product.Name)" />
							</div>
						</div>

						<div class="form-group pb-3">
							<label>Price:</label>
							<div>
								<InputNumber @bind-Value="@Product.Price" class="form-control shadow-none" />
								<ValidationMessage For="@(() => Product.Price)" />
							</div>
						</div>

						<div class="form-group pb-3">
							<label>Category:</label>
							<div>
								<InputSelect @bind-Value="Product.CategoryId" class="form-control shadow-none">
									<option value="">-- Select Category --</option>
									@if (Categories != null)
									{
										foreach (var category in Categories)
										{
											<option value="@category.Id">@category.Name</option>
										}
									}
								</InputSelect>
								<ValidationMessage For="@(() => Product.CategoryId)" />
							</div>
						</div>

						<div class="form-group pb-3">
							<label class="w-50">Description:</label>
							@if (!Disabled)
							{
								<p class="d-inline-flex justify-content-end w-50 m-0 text-secondary" style="font-size:0.8rem;">Count:&nbsp;<span>@(Product.Description?.Length ?? 0)</span>/300</p>
							}
							<div>
								<InputTextArea @bind-Value="@Product.Description" class="form-control shadow-none" style="resize:none;" rows="4" maxlength="301" oninput="updateCharCount(this, 300)" />
								<ValidationMessage For="@(() => Product.Description)" />
							</div>
						</div>

						<div class="form-group">
							<label>Image:</label>
							@if (Action != "View" ? true : false)
							{
								<div class="d-flex flex-column pb-1">
									<InputFile OnChange="OnFileSelection" class="file-upload" accept="image/png, image/jpeg" />
									<ValidationMessage For="@(() => Product.ImgUri)" />
								</div>
							}
							<div class="text-center">
								<img class="w-100" src="@Product.ImgUri" style="object-fit:cover;" onerror="this.style.display='none'" id="@imgId" />
							</div>
						</div>
					</fieldset>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary shadow-none" data-bs-dismiss="modal" @onclick="OnInitAsync">Close</button>
					@if (Action != "View" ? true : false)
					{
						<button type="submit" class="btn btn-success shadow-none">
							@(Action == "Edit" ? "Save" : "Create")
						</button>
					}
				</div>
			</EditForm>
		</div>
	</div>
</div>

@code {
	[Parameter] public string? Id { get; set; }
	[Parameter] public string? ItemName { get; set; }
	[Parameter] public string? Action { get; set; }
	[Parameter] public EventCallback<Product> OnValidSubmit { get; set; }
	[Parameter] public EventCallback OnInitAsync { get; set; }
	[Parameter] public Product? Product { get; set; }
	[Parameter] public bool Disabled { get; set; } = false;

	private string btnColor;
	private string btnIcon;
	private string imgId;

	private HttpClient _client;
	private List<Category> Categories;

	protected override void OnInitialized()
	{
		switch (Action.ToLower())
		{
			case "create":
				btnColor = "btn-success";
				btnIcon = "oi-plus";
				Action = "Create";
				break;
			case "view":
				btnColor = "btn-primary";
				btnIcon = "oi-book";
				Action = "View";
				break;
			case "edit":
				btnColor = "btn-warning";
				btnIcon = "oi-pencil";
				Action = "Edit";
				break;
		}
		imgId = $"img-{Guid.NewGuid()}";
		_client = ClientFactory.CreateClient("private");
	}

	protected async override Task OnInitializedAsync()
	{
		Categories = await _client.GetFromJsonAsync<List<Category>>($"{Endpoints.CategoriesEndpoint}");
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await js.InvokeVoidAsync("addModalImgHeightListener", Id, imgId, 1);
		}
	}

	public async ValueTask DisposeAsync()
	{
		await js.InvokeVoidAsync("removeModalImgHeightListener", Id);
	}
	 
	private async Task OnFileSelection(InputFileChangeEventArgs e)
	{
		var imgFile = e.File;
		var buffers = new byte[imgFile.Size];
		await imgFile.OpenReadStream().ReadAsync(buffers);
		Product.ImgUri = $"data:image/png;base64,{Convert.ToBase64String(buffers)}";
		await js.InvokeVoidAsync("updateImgHeight", imgId, 1);
	}

	private async Task OnValidSubmitCallback(Product prod)
	{
		if (OnValidSubmit.HasDelegate)
		{
			prod.Category = null;
			await OnValidSubmit.InvokeAsync(prod);
		}
	}
}
