@inject IHttpClientFactory ClientFactory
@attribute [Authorize(Roles = "Staff")]

<EditForm Model="@review" OnValidSubmit="@(() => OnValidSubmitCallback(review))">
    <DataAnnotationsValidator />
    <ValidationSummary class="text-start mb-0 pt-3" />
    <div class="modal-body text-start">
        <fieldset disabled="@Disabled">
            <div class="form-group pb-3">
                <label>Consumer:</label>
                <div>
                    @if (DisallowConsumer)
                    {
                        <input type="text" value="@((review.Consumer != null) ? $"{review.Consumer.FirstName} {review.Consumer.LastName}" : "Deleted Consumer")" class="form-control shadow-none" disabled />
                    }
                    else
                    {
                        <InputSelect @bind-Value="review.ConsumerId" class="form-control shadow-none">
                            <option value="">-- Select Consumer --</option>
                            @if (Consumers != null)
                            {
                                foreach (var consumer in Consumers)
                                {
                                    if (consumer.UserId == null)
                                    {
                                        <option value="@consumer.Id">@consumer.FirstName @consumer.LastName</option>
                                    }
                                }
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => review.ConsumerId)" />
                    }
                </div>
            </div>
            <div class="form-group pb-3">
                <label>Rating:</label>
                <div>
                    <InputNumber @bind-Value="@review.Rating" class="form-control shadow-none" />
                    <ValidationMessage For="@(() => review.Rating)" />
                </div>
            </div>

            <div class="form-group pb-3">
                <label>Description:</label>
                <div>
                    <InputTextArea @bind-Value="@review.Description" class="form-control shadow-none" style="resize:none;" rows="4" maxlength="301" />
                    <ValidationMessage For="@(() => review.Description)" />
                </div>
            </div>

            <div class="form-group pb-3">
                <label>Reply:</label>
                <div>
                    <InputTextArea @bind-Value="@review.Reply" class="form-control shadow-none" style="resize:none;" rows="4" maxlength="301" />
                    <ValidationMessage For="@(() => review.Reply)" />
                </div>
            </div>

            <div class="form-group">
                <label>Useful Count:</label>
                <div>
                    <InputNumber @bind-Value="@review.UsefulCnt" class="form-control shadow-none" />
                    <ValidationMessage For="@(() => review.UsefulCnt)" />
                </div>
            </div>

            @if (ShowDate)
            {
                <div class="form-group py-3">
                    <label>Date Created:</label>
                    <div>
                        <input type="text" value="@review.DateCreated.ToString("d MMM yyyy")" class="form-control shadow-none" disabled />

                    </div>
                </div>

                <div class="form-group pb-3">
                    <label>Date Updated:</label>
                    <div>
                        <input type="text" value="@review.DateUpdated.ToString("d MMM yyyy")" class="form-control shadow-none" disabled />
                    </div>
                </div>

                <div class="form-group">
                    <label>Date Replied:</label>
                    <div>
                        <input type="text" value="@(review.DateReplied?.ToString("d MMM yyyy") ?? "Not Replied")" class="form-control shadow-none" disabled />
                    </div>
                </div>
            }
        </fieldset>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary shadow-none" data-bs-dismiss="modal" @onclick="OnInitAsync">Close</button>
        @if (!Disabled)
        {
            <button type="submit" class="btn btn-success shadow-none">
                @ButtonText
            </button>
        }
    </div>
</EditForm>

@code {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public bool ShowDate { get; set; } = false;
    [Parameter] public bool DisallowConsumer { get; set; } = true;
    [Parameter] public Review? review { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback<(Review, bool, bool)> OnValidSubmit { get; set; }
    [Parameter] public Func<Task> OnInitAsync { get; set; }

    private HttpClient _client;
    private IList<Consumer> Consumers;
    public Review orgReview;

    protected override void OnInitialized()
    {
        _client = ClientFactory.CreateClient("public");
        orgReview = review;
    }

    private async Task OnValidSubmitCallback(Review rev)
    {
        if (OnValidSubmit.HasDelegate)
        {
            rev.Consumer = null;
            var revChanged = false;
            var revReplyChanged = false;
            if ((rev.Rating != orgReview.Rating) || (rev.Description != orgReview.Description))
            {
                revChanged = true;
            }
            if (rev.Reply != orgReview.Reply)
            {
                revReplyChanged = true;
            }
            await OnValidSubmit.InvokeAsync((rev, revChanged, revReplyChanged));
        }
    }

    protected async override Task OnInitializedAsync()
    {
        Consumers = await _client.GetFromJsonAsync<List<Consumer>>($"{Endpoints.ConsumersEndpoint}");
    }
}