@page "/consumers/"
@inject IHttpClientFactory ClientFactory
@inject IJSRuntime js
@inject AuthenticationStateProvider AuthenticationStateProvider
@implements IDisposable

<div class="container-fluid p-4">
    <h4 class="card-title pb-3">Consumers</h4>

    @if (Consumers == null)
    {
        <div class="alert alert-info">Loading Consumers...</div>
    }
    else
    {
        <AuthorizeView Roles="Staff">
            <button type="button" class="btn btn-success btn-sm shadow-none" data-bs-toggle="modal" data-bs-target="#create-consumer">
                <span class="oi oi-plus"></span>
                Create Consumer
            </button>
            <div class="modal fade" id="create-consumer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="create-label-consumer" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="create-label-consumer">Create New Consumer</h1>
                            <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close" @onclick="OnInitializedAsync"></button>
                        </div>
                        <StaffFormComponent ButtonText="Create" OnValidSubmit="@((con)=>CreateConsumer(con))" OnInitAsync="OnInitializedAsync" consumer="@(new Consumer{ProfileImgUri = "/images/users/default.jpg"})" />
                    </div>
                </div>
            </div>

            <table class="table table-responsive w-100 py-2 m-0" id="consumersTable">
                <thead>
                    <tr>
                        <th>NRIC</th>
                        <th>Status</th>
                        <th class="d-none d-sm-table-cell">Name</th>
                        <th class="d-none d-md-table-cell">Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var consumer in Consumers)
                    {
                        <tr>
                            <td>@consumer.NRIC</td>
                            <td>@(String.IsNullOrEmpty(consumer.UserId) ? "Not Authorized" : "Authorized")</td>
                            <td class="d-none d-sm-table-cell">@consumer.FirstName @consumer.LastName</td>
                            <td class="d-none d-md-table-cell">
                                <img src="@consumer.ProfileImgUri" class="profile-image-sm" />
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm shadow-none" data-bs-toggle="modal" data-bs-target="#view-consumer-@consumer.Id">
                                    <span class="oi oi-book"></span>
                                </button>
                                <div class="modal fade" id="view-consumer-@consumer.Id" tabindex="-1" aria-labelledby="view-consumer-label-@consumer.Id" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="view-consumer-label-@consumer.Id">View @consumer.FirstName @consumer.LastName</h1>
                                                <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <StaffFormComponent consumer="consumer" Disabled="true" />
                                        </div>
                                    </div>
                                </div>

                                @if (String.IsNullOrEmpty(consumer.UserId))
                                {
                                    <button type="button" class="btn btn-warning btn-sm shadow-none" data-bs-toggle="modal" data-bs-target="#edit-consumer-@consumer.Id">
                                        <span class="oi oi-pencil"></span>
                                    </button>
                                    <div class="modal fade" id="edit-consumer-@consumer.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="edit-consumer-label-@consumer.Id" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="edit-consumer-label-@consumer.Id">Edit @consumer.FirstName @consumer.LastName</h1>
                                                    <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close" @onclick="OnInitializedAsync"></button>
                                                </div>
                                                <StaffFormComponent OnValidSubmit="@((con)=>EditConsumer(con))" OnInitAsync="OnInitializedAsync" consumer="consumer" />
                                            </div>
                                        </div>
                                    </div>

                                    <button type="button" class="btn btn-danger btn-sm shadow-none" data-bs-toggle="modal" data-bs-target="#delete-consumer-@consumer.Id">
                                        <span class="oi oi-delete"></span>
                                    </button>
                                    <div class="modal fade" id="delete-consumer-@consumer.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="delete-consumer-label-@consumer.Id" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="delete-consumer-label-@consumer.Id">Confirm Delete @consumer.FirstName @consumer.LastName?</h1>
                                                    <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body text-start">
                                                    This action cannot be undone.
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary shadow-none" data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-danger shadow-none" data-bs-dismiss="modal" @onclick="@(()=>DeleteConsumer(consumer.Id))">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-secondary btn-sm shadow-none" disabled>
                                        <span class="oi oi-pencil"></span>
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-sm shadow-none" disabled>
                                        <span class="oi oi-delete"></span>
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </AuthorizeView>
    }
</div>

@code {
    private HttpClient _client;
    private List<Consumer>? Consumers;
    bool userIsStaff = false;

    protected override void OnInitialized()
    {
        _client = ClientFactory.CreateClient("public");
    }

    protected async override Task OnInitializedAsync()
    {
        Consumers = await _client.GetFromJsonAsync<List<Consumer>>($"{Endpoints.ConsumersEndpoint}");
        var authstate = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        userIsStaff = authstate.User.IsInRole("Staff");
    }

    private async Task CreateConsumer(Consumer con)
    {
        await _client.PostAsJsonAsync(Endpoints.ConsumersEndpoint, con);
        await js.InvokeVoidAsync("hideModal", "#create-consumer");
        await OnInitializedAsync();
    }

    private async Task EditConsumer(Consumer con)
    {
        await _client.PutAsJsonAsync($"{Endpoints.ConsumersEndpoint}/{con.Id}", con);
        await js.InvokeVoidAsync("hideModal", $"#edit-consumer-{con.Id}");
        await OnInitializedAsync();
    }

    private async Task DeleteConsumer(int consumerId)
    {
        if (Consumers != null)
        {
            await _client.DeleteAsync($"{Endpoints.ConsumersEndpoint}/{consumerId}");
            await OnInitializedAsync();
        }
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (userIsStaff)
        {
            await js.InvokeVoidAsync("AddDataTable", "#consumersTable", "Search Consumers");
        }
    }

    public void Dispose()
    {
        if (userIsStaff)
        {
            js.InvokeVoidAsync("DataTablesDispose", "#consumersTable");
        }
    }
}
